/* custom css */
li {
	width: 25%;
	float: left;
	list-style: none;
}
li.one {
	background-color: orange

}
li.two{
	background-color: yellow
}
li.three{
	background-color: blue
}
a:link {
	text-decoration: none;
    color: black;
}

/* visited link */
a:visited {
	text-decoration: none;
    
}

/* mouse over link */
a:hover {
	text-decoration: none;
    color: white;
}

/* selected link */
a:active {
	text-decoration: none;
    
}
